/*프로젝트 생성 modal창에 대한 디자인을 해주는 css코드*/
.Pr_add {
  position: relative;
  margin: 50px;
  height: 250px;
  text-align: center;
}
.pr {
  position: relative;
  width: 400px;
  height: 50px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px 1px 5px 1px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.p_a {
  width: 250px;
  height: 100px;
  margin-left: 25px;
  text-align: center;
}
.p_ad {
  vertical-align: middle;
  margin-left: 20px;
}
.img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.make {
  background-color: rosybrown;
  margin: 100px;
  float: right;
}

.label_list {
  text-align: center;
}
.label_menu {
  border: 1px solid white;
  background-color: transparent;

}
.top {
  float: left;
}
.cl {
  float: right;
  margin-left: 420px;
}

.body_sub {
  margin-left: 40px;
}
.footer_sub {
  margin-left: 60px;
  margin-bottom: 40px;
}
img {
  width: 25px;
  height: 25px;
}
.sqa{
  content:url(../images/square.png);
  width: 25px;
  height: 25px;
}
.te{
  text-align: center;
  margin-left: 30px;
  display: inline;
}
.labels{
  margin:20px;
}