/* sidebar에 대한 전박적인 디자인 */
.sidebar {
  /*사이드바에 대한 전반적인 디자인 및 기능을 구현해주는 코드*/
  background-color: #e933339d;
  height: 800px;
  width: 150px;
  position: fixed;
}
.list {
  margin-left: -40px;
}

/*파란색 뜨는거 해결하기*/
.hi {
  color: transparent;
  text-decoration: none;
}
.hi:hover {
  color: transparent;
  text-decoration: none;
}
.list > .btn {
  text-decoration: none;
}
.btn:hover {
  background-color: white;
  transition: background 0.5s;
  opacity: 0.5;
}
.icon {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}

.sub_list {
  background-color: transparent;
  border: transparent;
  margin-left: 30px;
  color: white;
}
.sub_list:hover {
  transition: background 0.2s;
  opacity: 0.2;
}
.show-menu {
  height: 800px;
  width: 150px;
  position: absolute;
  left: 0px;
  transition: 1s;
}

.hide-menu {
  width: 180px;
  height: 500px;
  position: absolute;
  left: -376px;
  transition: 1s;
}
