/* sidebar에 대한 전박적인 디자인 */
HTML CSSResult Skip Results Iframe EDIT ON body,
ul,
a {
  color: rgb(255, 1, 2);
  text-decoration: none;
}

.left-side-bar > ul ul {
  display: none;
  position: sticky;
  top: 0;
  left: 100%;
  background-color: #cf0000;
  z-index: 10px;/*사이드바를 우선순위로 설정해주는 코드, 양숫값이 높을수록 우선순위가 높아짐*/
}

body {
  /*sidebar의 높이를 설정해주는 코드, sticky만 써도될거같은데 일단 넣음*/
  height: 500px;
}

.left-side-bar {
  /*사이드바에 대한 전반적인 디자인 및 기능을 구현해주는 코드*/
  background-color: #e93333;
  height: 100%;
  width: 180px;
  position: fixed;
  left: -155px;
  transition: left 0.5s;
  text-decoration: none;
  z-index: 10px;
}

.left-side-bar > .status-ico {
  text-align: right;
  padding: 10px;
  text-decoration: none;
}

.left-side-bar > ul li {
  position: relative;
}

.left-side-bar ul {
  font-weight: bold;
  text-align: center;
  padding: 0;
  color: rgb(168, 120, 120);
}

.left-side-bar ul > li > a {
  display: block;
  padding: 10px;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

.left-side-bar:hover {
  left: 0;
}

.left-side-bar ul > li:hover ul {
  display: block;
  text-decoration: none;
}

.left-side-bar ul > li:hover > a {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
  z-index: 10px;
}

.left-side-bar > .status-ico > span:last-child {
  display: none;
}

.left-side-bar:hover > .status-ico > span:last-child {
  display: block;
}

.left-side-bar:hover > .status-ico > span:first-child {
  display: none;
}
li {
  text-align: left;
}
img {
  margin-right: 20px;
  width: 25px;
  height: 25px;
}
