.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*css 코드*/
.header {
  text-align: left;
  margin: 20px;
}

.profile_img {
  height: 150px;
  width: 150px;
  margin: 20px;
  float: left;
  border-radius: 70%;
}

.user_info{
  float: left;
}

.wrapper {
  margin-top: 250px;
  margin-left: 30px;
  text-align: left;
}

.firstName {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCC;
  color: #555;
  font-size: 20px;
  height: 35px;
  width: 450px;
}

.firstName:focus {
  outline: none;
  border-bottom-color:rgb(21, 2, 196) ;
}

.lastName:focus {
  outline: none;
  border-bottom-color:rgb(21, 2, 196) ;
}

.lastName {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCC;
  color: #555;
  font-size: 18px;
  height: 35px;
  width: 450px;
}

.save {
  text-align: left;
  margin-left: 400px;
  
}

.save_button {
  background-color: #61dafb;
  border : none;
  width: 80px;
  height: 40px;
  margin-top: 10px;
  position:static;
  
}

.save_button:hover {
  background-color: aquamarine;
}

.Password {
  text-align: left;
  margin-top: 100px;
  margin-left: 40px;
}

.pass_btn{
  float: left;
  border : none;
  width: 150px;
  height: 30px;
  background-color: antiquewhite;
}

.pass_btn:hover {
  background-color: burlywood;
}

.input-file-button{
  background-color: cornflowerblue;
  color: aliceblue;
  padding: 10px;
}

.input_file  {
  width: 100px;
  margin: auto;
  display: block;
}

.input-file-button:hover {
  background-color: lightskyblue;
}

.close_bt {
  border : none;
  width: 100%;
  background-color: transparent;
}

.password_change {
  margin: 20px;
  float: left;

}

.password_change > .cp {
  width: 500px;
  height: 50px;
  margin: 10px;
}

.password_change > .np {
  width: 500px;
  height: 50px;
  margin: 10px;
}

.password_change > .cnp {
  width: 500px;
  height: 50px;
  margin: 10px;
}

.pwbt{
  text-align: center;
  margin: auto;
  display: block;
  border:none;
  background-color: #CCC;
  padding: 10px;

}

.pwbt:hover{
  background-color: #cdd7e9;
}