.addData {
  float: right;
  margin: auto;
  border-radius: 6px;
}
.inputHide {
  display: none;
}
.imgThumb {
  margin: auto;
  width: 150px;
  height: 150px;
}
.files {
  margin: auto;
}
.menu {
  float: right;
  vertical-align: bottom;
}
.checks {
  vertical-align: middle;
  width: 130px;
}
.boxs {
  width: 20px;
  float: right;
}