/*mainview 및 teamview에 대한 디자인을 해주는 css코드*/
.view {
  margin-left: 150px;
}
.dashboard {
  float: left;
  margin: 20px;
}
.welcome {
  float: right;
  margin: 20px;
}
.logout {
  border: none;
  background-color: transparent;
  float: right;
  margin-left: 20px;
  margin-top: 25px;
}
.add_team {
  width: 80px;
  float: right;
  margin-top: 20px;
  margin-bottom:20px;
  margin-right:10px;
  background-color: #e93333;
  color: white;
  border: transparent;
  border-radius: 4px 4px 4px 4px;
  font-weight: bold;
}
.team_members {
  font-weight: bold;
}
.t_head {
  border: 1px;
}

.pr_assign_btn{
  float: right;
  margin-top: 25px;
  margin-bottom:20px;
  margin-right:10px;
  background-color: #e93333;
  border: transparent;
  color: white;
  font-weight: bold;
  border-radius: 4px 4px 4px 4px;
  height: 2em;
  width: 8em;
}

.tm_add_btn{
  float: right;
  margin-top: 25px;
  margin-bottom:20px;
  margin-right:10px;
  background-color: #e93333;
  border: transparent;
  color: white;
  font-weight: bold;
  border-radius: 4px 4px 4px 4px;
  height: 2em;
  width: 6em;
}