.notice_sub{
    margin: 10px;
}

.notice_input{
    margin-left: 25px;
    margin-top: 5px;
    width: 700px;
    height: 200px;

}

.team_foot{
    width: 400px;
    height: 300px;
}

.make{
    position:absolute;
    width: 200px;
    bottom: 50px;
    right: 50px;
}