/*Header 클래스에 대한 css파일*/

.Header { /*Header에 대한 전반적인 디자인*/
  border-bottom: 1px solid gray; /*헤더 아래에 경계선 선언, 1픽셀, 회색*/
  margin-left: 25px; 
  padding-left: 10px;
  position: relative;
  vertical-align: middle;
  height: 40px;
  display: flex;
  align-items: center;
  z-index: -5;
  
}
.Page { /*페이지에 대한 디자인*/
  margin-top: 10px;
  float: left;
  vertical-align: middle;
  flex-grow: 1;
}
.Top-li {
  float: left;
  margin-left: 30px;
  color: black;
}
img {
  width: 25px;
  height: 25px;
}
ul {
  list-style: none;
}
h5{
  font-family: 'Sunflower', sans-serif;
}
.font{
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
}

